/* 전체 너비 - 공통 */
section.cont{
    margin:0 auto;
    display:flex;

}

/* 헤더 */
header{
    height:100vh;
    width:200px;
    background-color: #506ee4;
}

/* 도서 목록 */
.book_list{
    padding:30px;
    max-width:1600px;
    box-sizing: border-box;
}

/* 도서 목록 탭 메뉴 */
.tab_menu a.on{
    color:blue;
}

/* 도서 목록 전체 레이아웃 */
.dataTables_wrapper{
    margin:10px 0 100px 0;
}
table{
    /*padding-top:10px;*/
}
table.dataTable{
    border-collapse: collapse;
    /*table-layout:fixed;*/
}
table.dataTable tbody th, table.dataTable tbody td{
    padding:0px 10px;
    height:48px;
    text-align:center;
}
table.dataTable thead th, table.dataTable thead td{
    background-color:/*#ccd4eb*/ #fff;
    padding:0 !important;
    text-align:center;
    height:48px;
    color:#767676;
    border-top:1px solid #000;
    border-bottom:1px solid #d5d5d5;
}
.dataTables_wrapper .dataTables_scroll{
    padding-top:30px;
}
table.dataTable.no-footer{
    border-bottom:1px solid #d5d5d5;
}

/* 기존 배경색 스타일 제거 */

.dataTables_wrapper.no-footer .dataTables_scrollBody{
    border-bottom:none;
}
table.dataTable.hover>tbody>tr:hover>*, table.dataTable.display>tbody>tr:hover>*{
    box-shadow:none;
}
table.dataTable.display tbody tr:hover>.sorting_1, table.dataTable.order-column.hover tbody tr:hover>.sorting_1{
    box-shadow:none;
}
table.dataTable.display tbody tr>.sorting_1, table.dataTable.order-column tbody tr>.sorting_1{
    box-shadow: none;
}
table.dataTable.display>tbody>tr.odd>.sorting_1, table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_1{
    box-shadow:none;
}

table.dataTable.display>tbody>tr.even>.sorting_1, table.dataTable.order-column.stripe>tbody>tr.even>.sorting_1{
    box-shadow:none;
}

/* 기존 thead 정렬 아이콘 제거 */
table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:after{
    content:"";
}
table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_asc_disabled:before, table.dataTable thead>tr>th.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting:before, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:before{
    content:"";
}

/* 표 스타일 */
table.dataTable.stripe>tbody>tr.odd>*, table.dataTable.display>tbody>tr.odd>*{
    box-shadow:none;
    background-color: #f9f9f9;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody{
    border-bottom:1px solid #d5d5d5;
}



/* 검색창 */
input[type=search]{
    text-indent:10px;
}

/* 정렬,검색창 */
.dataTables_wrapper .dataTables_length{
    height:50px;
    padding-top:20px;
    box-sizing: border-box;
}

/* 테이블 너비 */
/*#b_name{
    width:350px;
    box-sizing: border-box;
}
#b_eisbn{
    width:150px;
    box-sizing: border-box;
}

#b_barcode{
    width:100px;
    box-sizing: border-box;
}
#b_type{
    width:95px;
    box-sizing: border-box;
}*/


/* 매출내역 페이지 */
/* 매출내역 필터 폼 */
#sales_form .btn_wrap{
    display:flex;
    max-width:500px;
    justify-content: center;
    margin-top:10px;
}
#sales_form .btn_wrap button:first-of-type{
    margin-right:15px;
}
#sales_form input[type=date]{
    width:auto;
}

/* 매출내역 필터 테이블 */
#f_sales_details{
    max-width:500px;
}
#f_sales_details,#f_sales_details th,#f_sales_details td{
    border:1px solid rgba(0, 0, 0, 0.3);
    border-collapse: collapse;
}
#f_sales_details th,#f_sales_details td{
    padding:8px 10px;
}
#f_sales_details th{
    width:100px;
}
.sales_details .b_name,.sales_details .a_name{
    width:50px;
    text-align: center;
}
#f_sales_details #i_bname{
    width:300px;
}
