/*----공통css----*/

/* 1300까지 반응형 */
html{
    min-width:1300px;
    -webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}


/* 메인 */
main{
    margin:0 auto;
    margin-bottom:150px;
}
.page_right{
    position:absolute;
    right:0;
    top:60px;
    width:89.7%;
    min-width:1000px;
    z-index:80;
}
h3.sub_t{
    font-size:20px;
    margin-bottom:20px;
}

/* 테이블(datatable.js) 전체 레이아웃 : 콘텐츠조회, 판매내역, 정산내역, 공지사항 */
.dataTables_wrapper{
    margin:20px 0 0 0;
}
table{
    /*padding-top:10px;*/
}
table.dataTable{
    border-collapse: collapse;
    /*table-layout:fixed;*/
}
table.dataTable tbody th, table.dataTable tbody td{
    padding:0px 10px;
    height:48px;
    text-align:center;
}
table.dataTable thead th, table.dataTable thead td{
    background-color:/*#ccd4eb*/ #fff;
    padding:0 !important;
    text-align:center;
    height:48px;
    color:#767676;
    border-top:1px solid #000;
    border-bottom:1px solid #d5d5d5;
}
.dataTables_wrapper .dataTables_scroll{
    /*padding-top:30px;*/
}
table.dataTable.no-footer{
    border-bottom:1px solid #d5d5d5;
}

/* 기존 배경색 스타일 제거 */
.dataTables_wrapper.no-footer .dataTables_scrollBody{
    border-bottom:none;
}
table.dataTable.hover>tbody>tr:hover>*, table.dataTable.display>tbody>tr:hover>*{
    box-shadow:none;
}
table.dataTable.display tbody tr:hover>.sorting_1, table.dataTable.order-column.hover tbody tr:hover>.sorting_1{
    box-shadow:none;
}
table.dataTable.display tbody tr>.sorting_1, table.dataTable.order-column tbody tr>.sorting_1{
    box-shadow: none;
}
table.dataTable.display>tbody>tr.odd>.sorting_1, table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_1{
    box-shadow:none;
}

table.dataTable.display>tbody>tr.even>.sorting_1, table.dataTable.order-column.stripe>tbody>tr.even>.sorting_1{
    box-shadow:none;
}

/* 기존 thead 정렬 아이콘 제거 */
table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:after{
    content:"";
}
table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_asc_disabled:before, table.dataTable thead>tr>th.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting:before, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:before{
    content:"";
}

/* 표 스타일 */
table.dataTable.stripe>tbody>tr.odd>*, table.dataTable.display>tbody>tr.odd>*{
    box-shadow:none;
    background-color: #f9f9f9;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody{
    border-bottom:1px solid #d5d5d5;
}
.dataTables_scrollHead table.dataTable{
    width:100% !important;
}

/* 검색창 */
input[type=search]{
    text-indent:10px;
    width:200px;
}

/* 정렬,검색창 */
.dataTables_wrapper .dataTables_length{
    height:50px;
    /*padding-top:20px;*/
    box-sizing: border-box;
}

/* 페이징 */
/* 클릭 */
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    border:none;
    background-color:#333;
    border-radius: 6px;
    color:#fff !important;
    width:35px; height:35px;
    line-height:24px;
}

/* 호버 */
.dataTables_wrapper .dataTables_paginate .paginate_button{
    width:35px;
    height:35px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    border:none;
    background-color:#333;
    border-radius: 6px;
    color:#fff !important;
    width:35px; height:35px;
    line-height:24px;
}

/* 페이지 이동 아이콘 */
#t_b_list_all_next,#t_b_list_all_previous,#t_notice_next,#t_notice_previous,#t_qna_next,#t_qna_previous{
    width:60px; height:auto;
    line-height:24px;
}
#t_b_list_all_next:hover,#t_b_list_all_previous:hover{
    width:60px; height:auto;
    /*background-color: #333;*/
}

#t_sales_details_previous,#t_sales_details_next{
    width:60px; height:auto;
    line-height:24px;
}

/* 등록 테이블 레이아웃 : 콘텐츠 등록, 출판사 정보 관리 화면 */
.table_wrap{
    margin-top:50px;
}
.table_wrap:first-of-type{
    margin-top:0;
}
.table_input{
    width:100%;
    border-top:1px solid #000;
}
.table_input .th{
    width:120px;
}
.table_input .td{
    width:40%;
}
.table_input th{
    padding-left: 20px;
    font-weight: 500;
    color: #767676;
    text-align: left;
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    background-color: #f5f5f5;
    box-sizing: border-box;
}
.table_input td{
    padding: 7px 20px !important;
    height: 53px;
    border-bottom: 1px solid #d5d5d5;
    box-sizing: border-box;
}
.table_input .add_info{
    background-color: #e3e3e3;
}
.table_input .add_info th{
    background-color: #d3d3d3;
}
.table_input .long_input input{
    width:100% !important;
}
.table_input textarea{
    padding: 14px;
    width: 100%;
    height:130px;
    color: #000;
    box-sizing: border-box;
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    resize:none;
}
.table_input #notice_cont{
    white-space: pre-line;
}

/* 콘텐츠 목록 필터 : 콘텐츠조회, 판매내역, 정산내역, 공지사항 */
.form_primary{
    margin-bottom:50px;
}
.form_primary .filter_wrap{
    /*margin-bottom:50px;*/
    background-color: #f7f7f7;
    border-radius: 20px;
    padding:25px 32px;
}

.ui-widget-header{
    background-color: #fff;
    border:1px solid #fff;
}
.ui-datepicker .ui-datepicker-prev span{
    background: url(../img/icon_arrow_right.svg) no-repeat center;
    transform:scaleX(-1);
}

.ui-datepicker .ui-datepicker-next span{
    background: url(../img/icon_arrow_right.svg) no-repeat center;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight,.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button{
    border:1px solid #c5c5c5;
    background:#fff;
    color:#454545;
    line-height:35px !important;
}

.ui-state-highlight:hover, .ui-widget-content .ui-state-highlight:hover, .ui-widget-header .ui-state-highlight:hover,.ui-state-default:hover, .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default:hover, .ui-button:hover{
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: normal;
    color: #fff;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: normal;
    color: #fff;
}



.form_primary .form_c_wrap{
    display:flex;
    /*justify-content: space-between;*/
}
.form_primary .form_c_wrap p:first-of-type{
    margin-right:80px;
}
.form_primary p,.form_primary th{
    margin-bottom:10px;
}
.form_primary td{
    padding-bottom:10px;
}
.form_primary div.last p{
    margin-bottom:0;
}
.form_primary p.last{
    margin-bottom:0;
}
.form_primary .f_title{
    /*padding-left:32px;*/
    font-weight:700;
    width:100px;
    display:inline-block;
    text-align: left;
}
.form_primary .chk,.form_primary .radio{
    margin-right:20px;
}
.form_primary .regist_date input{
    width:155px;
    height:38px;
    background:#fff url(../img/icon_date.svg) no-repeat center right 10px;
    font-size:14px;
}
.form_primary .regist_date button{
    padding: 0 14px;
    min-width: 50px;
    height: 38px;
    line-height: 38px;
    font-size: 12px;
    color: #000;
    border-radius: 6px;
    border: solid 1px #d5d5d5;
    background-color: #fff;
    margin-left:4px;
}
.form_primary select{
    height: 38px;
    line-height: 38px;
    border-radius: 6px;
    border: solid 1px #d5d5d5;
    box-sizing: border-box;
    padding:0 10px;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url(../img/icon_arrow_down_gray.svg) no-repeat right 10px center;
}
.form_primary input[type=text],.form_primary input[type=search]{
    height:38px; line-height:38px;
    border-radius: 6px;
    box-sizing: border-box;
    text-indent:10px;
    font-size:14px;
}
.form_primary input[type=file]{
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.form_primary .file_box .thumb_img{
    margin-top:10px;
}
.form_primary .file_box ul{
    padding-left:20px;
}
.form_primary .file_box ul li{
    list-style:disc;
}
.form_primary .file_box label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #767676;
    cursor: pointer;
    margin-left: 5px;
    font-size:13px;
    border-radius: 6px;
}
.form_primary .btn_wrap{
    text-align: center;
    margin-top:50px;
}

/* 체크박스 custom */
.form_primary input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.form_primary input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}
.form_primary input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 22px;
    height: 22px;
    text-align: center;
    background: url(../img/btn_checkcircle.svg)no-repeat;  
    box-sizing: border-box;
    border-radius: 5px;
}

.form_primary input[type="checkbox"]:checked + label:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 22px;
    height: 22px;  
    background: url(../img/btn_checkcircle_on.svg)no-repeat;  
    background-position: center center;
    border-radius: 5px;
}

.form_primary input[type="checkbox"] + label span {
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;  
    letter-spacing: -1px;
    color: rgba(0, 0, 0, 0.5);
}

/* 라디오버튼 custom */
.form_primary input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.form_primary input[type="radio"] + label {
    display: inline-block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}
.form_primary input[type="radio"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 22px;
    height: 22px;
    text-align: center;
    background: url(../img/radio_btn.png)no-repeat;  
    box-sizing: border-box;
    border-radius: 5px;
}

.form_primary input[type="radio"]:checked + label:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 22px;
    height: 22px;  
    background: url(../img/radio_btn_chk.png)no-repeat;  
    background-position: center center;
    border-radius: 5px;
}

.form_primary input[type="radio"] + label span {
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;  
    letter-spacing: -1px;
    color: rgba(0, 0, 0, 0.5);
}


/* 버튼 */
.btn_wrap [class^=btn_] + [class^=btn_] {
    margin-left: 6px;
}
.btn_md{
    /*padding: 0 23px;*/
    min-width: 140px;
    height: 44px;
    line-height: 44px;
    font-weight: 600;
    font-size: 15px;
}
.btn_line{
    background-color:#fff;
    border-radius: 6px;
    padding:0 14px;
    height:38px;
    line-height: 38px;
    width:90px;
    font-size:12px;
}

.gray_btn_line{
    border:1px solid #949494;
    color:#000;
}
.gray_btn_line:hover{
    background-color: #94949410;
}
.gray_btn_line.mg{
    margin-top:5px;
    margin-left:3px;
}
.b_btn_line{
    border:1px solid #2a365f;
    color:#2a365f;
}
.b_btn_line:hover{
    background-color: #2a365f10;
}
.g_btn_line{
    color:#3c9a17;
    border:1px solid #3c9a17;
}
.g_btn_line:hover{
    background-color: #3c9a1710;
}
.remove_btn,.add_ipt{
    margin-top:5px;
}
.remove_btn{
    margin-left:3px;
}
.btn_primary{
    color:#fff;
    border:1px solid #333;
    background-color:#333;
    border-radius: 6px;
    transition: background-color .2s ease-out, border-color 0.2s ease-out;
}
/*.btn_wrap .btn_primary:hover {
    border-color: #000;
    background-color: #000;
}*/
.btn_wrap .btn_light_gray {
    color: #333;
    border: 1px solid #333;
    background-color: #fff;
}
/*.btn_wrap .btn_light_gray:hover{
    border: 1px solid #333;
    background-color: #494949;
}*/

/* 모달 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index:100;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal_body{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height:max-content;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}
.modal_body .title_wrap{
    display:flex;
    justify-content: space-between;
    height:48px;
}
.modal_body .modal_title{
    font-size:20px;
    font-weight:500;
}
.modal_body .table_input .th{
    width:50px;
}
.modal_body .table_input .td{
    width:200px;
}
.btn_close_popup{
    cursor:pointer;
    opacity:.2;
}
.btn_close_popup:hover{
    opacity:1;
}
.modal_body .btn_wrap{
    margin-top:30px;
}

/*----상세페이지----*/

/* 로그인 페이지 */
.p_login{
    background-color: #F1EDDD;
    height:630px;
    margin-bottom:0;
    padding-top:60px;
}
.login_wrap{
    background-color: #fff;
    width:480px;
    margin:auto;
    border-radius: 12px;
    box-shadow: 0px 0px 8px #0000001A;
    padding:60px 90px;
    box-sizing: border-box;
}
.login_wrap h1{
    text-align: center;
    margin-bottom:19px;
}
.login_wrap h1 img{
    margin-bottom:15px;
}
.login_wrap h1 p{
    font-size:24px;
    letter-spacing: -0.6px;
}
.login_wrap input[type=text],.login_wrap input[type=password]{
    height:48px;
    width:300px;
    background-color: #F8F8F8 ;
    box-shadow: inset 0px 2px 4px #00000014;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    font-size:16px;
}
.login_wrap input[type=text]{
    margin-bottom:12px;
}
.login_wrap input[type=password]{
    margin-bottom:14px;
}
.login_wrap .flex{
    justify-content: space-between;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
transition: background-color 5000s;
-webkit-text-fill-color: #333 !important;
}

.login_wrap .btn_login{
    border-radius: 6px;
    background-color: #555;
    width:300px;
    height:56px;
    line-height:56px;
    color:#fff;
    margin-top:22px;
    font-size:16px;
}
.login_wrap #txt_err{
    color:#FF3400;
    text-align: center;
    margin-top:9px;
    height:20px;
}
.login_wrap .bottom_txt{
    margin-top:70px;
    color:#999;
    text-align: center;
}

/* 체크박스 custom */
.login_wrap input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.login_wrap input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.login_wrap input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 24px;
    height: 24px;
    text-align: center;
    background: url(../img/btn_check_null.svg)no-repeat;  
    box-sizing: border-box;
    border-radius: 5px;
}

.login_wrap input[type="checkbox"]:checked + label:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 24px;
    height: 24px;  
    background: url(../img/btn_checked.svg)no-repeat;  
    background-position: center center;
    border-radius: 5px;
}

.login_wrap input[type="checkbox"] + label span {
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;  
    letter-spacing: -1px;
    color: rgba(0, 0, 0, 0.5);
}
.btm_bg{
    display:flex;
    justify-content: center;
    position:relative;
    top:-95px;
}

.footer.login{
    margin-top:0;
    padding-top:57px;
}
.footer.login .footer_wrap{
    max-width:768px;
    margin:0 auto;
}


/* 대시보드 페이지 */
.p_dash_board .page_wrap{
    /*max-width:1700px;*/
    margin:0 auto;
}

.p_dash_board .cont_current ul{
    display:flex;
    gap:0 16px;
}
.p_dash_board .cont_current ul li a{
    width: 160px;
    height: 115px;
    border-radius: 20px;
    border: 1px solid #d5d5d5;
    padding:20px;
    box-sizing: border-box;
    text-align: center;
    display:block;
}
.p_dash_board .cont_current ul li a:hover{
    border:1px solid #333;
}
.p_dash_board .cont_current ul li span{
    display:block;
    margin: 0 auto 15px;
    font-size: 16px;
    color: #767676;
    line-height: 24px;
}
.p_dash_board .cont_current ul li span:last-of-type{
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    color: #292929;
    line-height: 40px;
    z-index: 0;
}
.p_dash_board .cont_current ul li span:last-of-type:after{
    position: absolute;
    left: 50%;
    bottom: 7px;
    width: 100%;
    height: 6px;
    background-color: #b8badf;
    transform: translateX(-50%);
    content: "";
    z-index: -1; 
}

.p_dash_board .sales_current,.p_dash_board .sales_revenue{
    width:50%;
}

.p_dash_board .flex{
    justify-content: space-between;
    gap:0 20px;
}
.p_dash_board .dataTables_wrapper{
    width:100%;
}

.p_dash_board .graph_wrap{
    margin-top:70px;
}
.p_dash_board .notice_wrap{
    margin-top:70px;
}
.p_dash_board .notice_wrap section{
    width:50%;
}
.p_dash_board .notice_wrap h3{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}
.p_dash_board .notice_wrap h3 a{
    font-size:14px;
    font-weight:normal;
}

/* 아코디언 테이블 공통 - 대시보드, 문의하기 */
.t_acco tr td {
    vertical-align:top;
    line-height:50px;
}
.t_acco tr td a{
    display:block;
    height:100%;
    line-height:50px;
}
.t_acco tr td a:hover{
    text-decoration: underline;
}

.t_acco .faq_container{
    
}
.t_acco .faq_answer{
    background-color: #c0c0c0;
    margin-bottom:15px;
    padding:10px;
    line-height:24px;
}



/* 콘텐츠 목록 페이지,공지사항 페이지 */
.book_list_wrap{
    /*max-width:1700px;
    width:100%;*/
}
.page_wrap{ /* 공통 */
    padding:30px 20px 0;
    box-sizing: border-box;
    position:relative;
    top:50px;
}
.table_cont{
    position:relative;
}
.table_cont h3.sub_t{
    position:relative;
    top:50px;
}

#b_name a{
    display:inline-block;
    width:100%;
    height:49px;
    line-height:49px;
}

#t_b_list_all a:hover{
    text-decoration:underline;
}

a.buttons-excel{
    padding:5px 15px 7px 35px;
    background-color:#fff ;
    color:#333;
    font-weight:500;
    font-size:12px;
    width:auto;
    height:30px;
    display:inline-block;
    box-sizing: border-box;
    border-radius: 6px;
    background-image: none;
    border:1px solid #333;
    margin-bottom:10px;
}
a.buttons-excel:hover{
    background-image: none;
    background-color: #fff !important;
}

a.dt-button:hover:not(.disabled){
    background-image: none;
    background-color: #fff !important;
}

div.dt-buttons {
    float:right;
}

.p_book_list .form_primary select{
    width:638px;
}
.p_book_list .form_primary .name_wrap input[type=text]{
    width:638px;
}
.p_book_list .form_primary .regist_date input[name=txtDate]{
    width:210px;
}
.dataTables_wrapper .dataTables_length{
    float:right;
}

/* 공지사항 상세 페이지 */
.p_notice .table_input .td{
    width:41%;
}

/* 문의하기 페이지 */
.p_qna .table_input .td{
    width:90%;
}
.p_qna .form_primary input[type=text]{
    width:100%;
}
.p_qna #qna_file_name{
    width:300px;
}


/* 매출내역 페이지 */
/* 매출내역 필터 폼 */
.p_sales_details .form_primary select{
    width:155px;
}
.p_sales_details .form_primary .book_name input[type=text]{
    width:600px;
}
.p_sales_details .form_primary input[type=search]{
    width:155px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}
.p_sales_details .form_primary .btn_search{
    border: 0;
    width: 54px;
    height: 34px;
    line-height: 31px;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
    background:#acacac url(../img/search_icon.png) no-repeat center;
    background-size: 35%;
    display:inline-block;
}
.p_sales_details .form_primary .show_name{
    width:542px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

/* 콘텐츠 등록 페이지 */
/* input 창 너비 */
.p_content_regist .form_primary .regist_date input,.p_content_regist .form_primary input[type=text]{
    width:300px;
}
.p_content_regist .form_primary select{
    width:100px;
}

/* 파일타입 라디오버튼 위치 조정 */
.p_content_regist .form_primary input#type_epub + label:before,.p_content_regist .form_primary input#type_epub:checked + label:after,.p_content_regist .form_primary input#type_pdf + label:before,.p_content_regist .form_primary input#type_pdf:checked + label:after{
    top:-3px;
}

/* 완간 체크박스 마진 */
.p_content_regist .series_complete{
    padding-left:20px;
    margin-left:20px;
    border-left:1px solid #999;
}



/*----반응형----*/

/* 1300까지 반응형 -(아이패드 가로모드) */
@media screen and (max-width:1900px){
    .p_book_list .form_primary .name_wrap input[type=text],.p_book_list .form_primary select{
        width:400px;
    }
    .form_primary .form_c_wrap p:first-of-type{
        margin-right:40px;
    }

}
@media screen and (max-width:1299px){
    header h1,nav ul li a{
        margin-left:10px;
    }
    main h2{
        /*padding-left:20px !important;*/
    }
    .book_list_wrap {
        /*left:140px;*/
    }
    
    .p_book_list .form_primary .name_wrap input[type=text],.p_book_list .form_primary select{
        width:200px;
    }

}